th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow .asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow .dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

.file-tag {
    padding-top: 4px;
    padding-bottom: 4px;
}

.file-tag > .icon-remove,
.file-tag > .icon-chevron-right {
  margin-left: 5px;
}

.fileRow {
  margin-top: 7px;
}

.btn-row {
  margin-top: 4px;
}

.opIcon {
  margin-right: 10px;
}

#search-query {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 12px; 
  margin-bottom: 10px; 
  padding-left: 6px;
  height: 23px;
}

.btn-create {
  border: 2px solid #49afcd;
  border-radius: 30px;
  width: 90px;
}

.btn-search {
  border: 2px solid #49afcd;
  margin-top: 12px; 
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 10px;
}

#uploadDiv {
    background-color: #FFF;
    border-radius: 3px;
    height: 50px;
    overflow: none;
}
